$selectorPrefix: "&+*";
@import "ratings";
@import "starCtnr";

.parent-ctnr {
    width: 232px;
    display: flex;
    justify-content: space-between;
    h4 {
        text-transform: uppercase;
    }
    >* {
        margin: 10px 0;
    }
}