$green-1: #1fcf33;
$green-2:#17bf17;
$chatreuse: #DFFF00;
$amber: #FFBF00;
$safety-orange: #FF7900;
$dark-safety-orange: darken($safety-orange, 10);
$corporate-red: #DC241F;
$true_capri: #00BFFF;
$capri: #0499ff;
$true_azure: #007FFF;
$another-blue: #6633ff;
$sea-blue: #006994;

$lighter-grey: #b3b3b3;
$lightish-grey: #b3b3b3;

$chocolate: rgb(61, 53, 53);
$white-chocolate: wheat;