$chatreuse: #DFFF00;
$amber: #FFBF00;
$safety-orange: #FF7900;
$corporate-red: #DC241F;
$true_capri: #00BFFF;
$capri: #0499ff;
$true_azure: #007FFF;
$another-blue: #6633ff;


$chocolate: rgb(61, 53, 53);
$white-chocolate: wheat;
