@mixin flex-variable-basis-static-gutters ($ratios, $gutter-size_x: 20px, $gutter-size_y: 20px) {
    $len: length($ratios);

    $tot: 0;
    @each $rat in $ratios {
        $tot: $tot + $rat;
    }
    $ava: calc(100% - (#{$gutter-size_x} * (#{$len} - 1) ) );
    $seg: #{$ava} / $tot;
    
    @for $i from 1 through $len {
        >*:nth-child( #{$len}n + #{$i} ) {
            $n: nth($ratios, $i);
           flex-basis: calc(#{$n} * #{$seg}) ;
        }
    }
    >:nth-child(1) ~ *{
        margin-top: 0;
    }
    >:nth-child(#{$len}) ~ *{
        margin-top: $gutter-size_y;
    }
}

//Also requires @import _breakpoints.scss
@mixin static-width-container ($breakpoints: $bp-sm $bp-md $bp-lg, $pseudo-padding: 20px) {
    @each $var in $breakpoints {
        @media (min-width: $var) {
            width:calc(#{$var} - (2 * #{$pseudo-padding}));
        }
    }
}
