@import "../_PARTIALS/colours", 
        "../_PARTIALS/mix_h-lists";

$dark-safety-orange:darken($safety-orange, 10);

* {
    background:transparent;
}
body {
    background:black;
}
h2 {
    color: wheat;
}

//Container colors
.wSet-file {
    color: white;
    border-color: white;
    h2 {
        color: white;
    }
}
.file-header {
    background: olive;
    //color: ???;
}
.fHeader-altColor {
    background: darkred;
    //color: ???;
}
.weaponTable td {
    border-color: darkred;
}

//Weapon table; non-highlighted text
tr > td:nth-of-type(2) {
    color: $lightish-grey;
}
//Weapon table; highlighted text
//  Why doesn't it work if I just nest the class selector? Don't know.
tr > td:nth-of-type(2).hl, tr > td:nth-of-type(2).hl-strong {
    color: white;
}
//Highlighted background
.hl {
    background: $green-2;
    font-weight:500;
}
.hl-strong {
    background: darken($green-2, 14);
    font-weight:600;
}

//Horizontal list colors
@include h-lists (darkred, rgb(48, 48, 48));
.h-list h5 {
    color:$dark-safety-orange;
}
.h-list li:before{
    font-weight:bold;
}
.alt {
    > :nth-child(2n+1) {
        background: wheat;
    }
    > :nth-child(2n+2) {
        background: lightgoldenrodyellow;
    }
}